In [1]:
import pandas as pd
import numpy as np

# Generate 10 random integers between 50 and 100
random_numbers = np.random.randint(50, 100, 10)

# Create a Pandas Series
series = pd.Series(random_numbers)

# Display the Series
print(series)

0    67
1    90
2    90
3    61
4    51
5    99
6    70
7    89
8    53
9    71
dtype: int32

In [3]:
# Generate 10 random integers between 50 and 100
random_numbers = np.random.randint(50, 100, 10)

# Create a date range with 10 dates starting from 2025-01-01
date_index = pd.date_range('2025-01-01', periods=10)

# Create the Pandas Series with custom date index
series = pd.Series(random_numbers, index=date_index)

# Display the Series
print(series)

2025-01-01    82
2025-01-02    80
2025-01-03    73
2025-01-04    75
2025-01-05    99
2025-01-06    94
2025-01-07    87
2025-01-08    78
2025-01-09    50
2025-01-10    68
Freq: D, dtype: int32

In [5]:
# Filter values greater than 75
filtered_values = series[series > 75]

# Compute the mean of the filtered values
mean_value = filtered_values.mean()

# Display results
print("Filtered values > 75:")
print(filtered_values)
print("\nMean of filtered values:", mean_value)

Filtered values > 75:
2025-01-01    82
2025-01-02    80
2025-01-05    99
2025-01-06    94
2025-01-07    87
2025-01-08    78
dtype: int32

Mean of filtered values: 86.66666666666667

In [7]:
# Sample data
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
courses = ['Math', 'Science']
years = [2024, 2025]

# Create a DataFrame manually
data = {
    'Student': students,
    'Course': np.random.choice(courses, size=5),
    'Score': np.random.randint(60, 100, size=5),
    'Year': np.random.choice(years, size=5)
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   Student   Course  Score  Year
0    Alice  Science     93  2025
1      Bob  Science     76  2025
2  Charlie  Science     62  2025
3    David     Math     84  2025
4      Eve  Science     98  2024

In [9]:
# Define a function to assign grades
def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'D'

# Apply the function to create the Grade column
df['Grade'] = df['Score'].apply(assign_grade)

# Display the updated DataFrame
print(df)

   Student   Course  Score  Year Grade
0    Alice  Science     93  2025     A
1      Bob  Science     76  2025     C
2  Charlie  Science     62  2025     D
3    David     Math     84  2025     B
4      Eve  Science     98  2024     A

In [11]:
# Sort by Score in descending order
df_sorted = df.sort_values(by='Score', ascending=False)

# Display the sorted DataFrame
print(df_sorted)

   Student   Course  Score  Year Grade
4      Eve  Science     98  2024     A
0    Alice  Science     93  2025     A
3    David     Math     84  2025     B
1      Bob  Science     76  2025     C
2  Charlie  Science     62  2025     D