In [5]:
# Here i have import my libarary
import pandas as pd
import numpy as np

#Loading of data set
df = pd.read_csv("student_data.csv")
df.head(8)

      Name  Age  Score  Subject
0    Alice   22     85    maths
1      Bob   25     90    maths
2  Charlie   19     78  Science
3    Diana   30     92  Science
4    Alice   22     88  Science
5      Bob   25     95  Science
6  Charlie   19     80    maths
7    Diana   30     85    maths

In [7]:


# Check for missing values in the 'Score' column
print("Missing values in 'Score' before:", df['Score'].isnull().sum())

Missing values in 'Score' before: 0

In [9]:
# Compute the median score
median_score = df['Score'].median()

In [11]:
# Fill missing values with the median
df['Score'].fillna(median_score, inplace=True)

# Optionally, reassign grades if needed
def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'D'

df['Grade'] = df['Score'].apply(assign_grade)

# Confirm missing values are filled
print("Missing values in 'Score' after:", df['Score'].isnull().sum())

# Display the updated DataFrame
print(df.head(8))

Missing values in 'Score' after: 0
      Name  Age  Score  Subject Grade
0    Alice   22     85    maths     B
1      Bob   25     90    maths     A
2  Charlie   19     78  Science     C
3    Diana   30     92  Science     A
4    Alice   22     88  Science     B
5      Bob   25     95  Science     A
6  Charlie   19     80    maths     B
7    Diana   30     85    maths     B

C:\Users\ankia\AppData\Local\Temp\ipykernel_8956\3022076779.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(median_score, inplace=True)

In [17]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_student_data.csv', index=False)