In [3]:
import pandas as pd
import numpy as np

In [5]:
# Create a Series
scores = pd.Series([85, 90, 78, 92], index=['Alice', 'Bob', 'Charlie', 'Diana'])
print(scores)

Alice      85
Bob        90
Charlie    78
Diana      92
dtype: int64

In [7]:
print(scores['Bob'])  # Access by index

90

In [44]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', None],
    'Score': [85, None, 78, 92]
}
df = pd.DataFrame(data)
print(df)

      Name  Score
0    Alice   85.0
1      Bob    NaN
2  Charlie   78.0
3     None   92.0

In [46]:
# Check for missing values
print(df.isna())

    Name  Score
0  False  False
1  False   True
2  False  False
3   True  False

In [50]:
# Fill missing values
df['Score'] = df['Score'].fillna(df['Score'].mean())
df['Name'] = df['Name'].fillna('Unknown')
print(df)

      Name  Score
0    Alice   85.0
1      Bob   85.0
2  Charlie   78.0
3  Unknown   92.0

In [54]:
# Drop rows with missing values
df_dropped = df.dropna()
print(df)

      Name  Score
0    Alice   85.0
1      Bob   85.0
2  Charlie   78.0
3  Unknown   92.0

In [56]:
# Create two DataFrames
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 78]
})
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Diana'],
    'Grade': ['A', 'B', 'A']
})
# Merge on 'Name'
merged_df = pd.merge(df1, df2, on='Name', how='outer')
print(merged_df)

      Name  Score Grade
0    Alice   85.0     A
1      Bob   90.0     B
2  Charlie   78.0   NaN
3    Diana    NaN     A

In [60]:
# Group by Age and calculate mean Score
grouped = df.groupby('Name')['Score'].agg(['mean', 'count'])
print(grouped)

         mean  count
Name
Alice    85.0      1
Bob      85.0      1
Charlie  78.0      1
Unknown  92.0      1

In [9]:
# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [22, 25, 19, 30],
    'Score': [85, 90, 78, 92]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   22     85
1      Bob   25     90
2  Charlie   19     78
3    Diana   30     92

In [62]:
# Create a DataFrame with MultiIndex
arrays = [
    ['Math', 'Math', 'Science', 'Science'],
    ['Alice', 'Bob', 'Alice', 'Bob']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Subject', 'Name'))
data = pd.DataFrame({'Score': [85, 90, 88, 92]}, index=index)
print(data)
# Access data
print(data.loc['Math', 'Alice'])

               Score
Subject Name
Math    Alice     85
        Bob       90
Science Alice     88
        Bob       92
Score    85
Name: (Math, Alice), dtype: int64

In [66]:
# Pivot table
pivot_df = df.pivot_table(values='Score', index='Name', columns='Subject', aggfunc='mean')
print(pivot_df)

KeyError: 'Subject'

In [68]:
# Melt DataFrame
melted_df = pd.melt(df, id_vars=['Name'], value_vars=['Score'], var_name='Metric')
print(melted_df)

      Name Metric  value
0    Alice  Score   85.0
1      Bob  Score   85.0
2  Charlie  Score   78.0
3  Unknown  Score   92.0

In [70]:
# Create time series data
dates = pd.date_range('2025-01-01', periods=5, freq='D')
data = pd.DataFrame({'Value': [10, 20, 15, 25, 30]}, index=dates)
# Resample to weekly mean
weekly = data.resample('W').mean()
print(weekly)

            Value
2025-01-05   20.0

In [72]:
# Categorize scores
def categorize_score(score):
    if score >= 90:
        return 'Excellent'
    elif score >= 80:
        return 'Good'
    else:
        return 'Needs Improvement'
df['Category'] = df['Score'].apply(categorize_score)
print(df)

      Name  Score           Category
0    Alice   85.0               Good
1      Bob   85.0               Good
2  Charlie   78.0  Needs Improvement
3  Unknown   92.0          Excellent

In [33]:
# Load CSV
df = pd.read_csv('Students Dataset.csv')
print(df.head(1000))  # First 1000 rows

    Student_ID First_Name Last_Name                       Email  Gender  \
0        S3776      Ahmed  Williams  student2776@university.com  Female
1        S2990      Maria     Brown  student1990@university.com  Female
2        S1131      Ahmed   Johnson   student131@university.com  Female
3        S5267      Maria     Brown  student4267@university.com    Male
4        S2458       Emma   Johnson  student1458@university.com  Female
..         ...        ...       ...                         ...     ...
995      S5627       Emma     Davis  student4627@university.com  Female
996      S2502       Emma     Jones  student1502@university.com  Female
997      S1145       Omar   Johnson   student145@university.com    Male
998      S1632      Ahmed   Johnson   student632@university.com  Female
999      S1390       John     Smith   student390@university.com    Male

           Age   Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0    22.045035           CS       74.048106      85.108839    51.617728  ...
1    23.629150           CS       92.511784      75.947161    40.502862  ...
2    22.506026           CS      108.096000      48.073458    48.805808  ...
3    21.467511           CS       49.562663      45.299800    77.905403  ...
4    22.919975           CS       84.591690      89.441995    73.063405  ...
..         ...          ...             ...            ...          ...  ...
995  23.814906  Engineering       78.188876      67.376871    38.644241  ...
996  21.557628     Business       55.150999      62.058483    58.357880  ...
997  21.631017  Mathematics       53.820910      58.333701    95.746380  ...
998  19.420526  Engineering       87.838525      48.988729    79.506127  ...
999  24.328379           CS       81.749545      90.491485    40.881088  ...

     Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0        100.895718    52.343428      C              6.724337
1         84.305866    89.013178      C             28.035910
2         75.641844   105.085978      A             14.423544
3         57.838081    95.268142      C             12.967853
4         48.668896    51.845698      A             26.522400
..              ...          ...    ...                   ...
995       77.810359    81.878959      A             26.664545
996       60.545186    69.295508      C             27.905180
997       81.888635    81.017607      F              6.880625
998       70.291425    52.342734      C             16.258495
999       82.710572    92.965223      B             23.762379

     Extracurricular_Activities Internet_Access_at_Home  \
0                            No                     Yes
1                            No                     Yes
2                            No                     Yes
3                            No                     Yes
4                            No                      No
..                          ...                     ...
995                          No                     Yes
996                          No                     Yes
997                          No                     Yes
998                         Yes                     Yes
999                          No                     Yes

     Parent_Education_Level Family_Income_Level Stress_Level (1-10)  \
0                       PhD                 Low            4.055678
1                       NaN                High            6.321155
2                       PhD                High            3.978794
3                Bachelor's              Medium            4.708576
4                       NaN                High            8.135042
..                      ...                 ...                 ...
995              Bachelor's              Medium            8.265821
996             High School                 Low            6.371639
997                     NaN                 Low            4.530651
998                       0                High            9.152319
999             High School                 Low            3.614852

    Sleep_Hours_per_Night
0                5.793378
1                8.085410
2                8.332964
3                4.445199
4                5.154970
..                    ...
995              7.286875
996              4.462750
997              5.785898
998              9.612580
999              6.000259

[1000 rows x 23 columns]

In [40]:
# Create DataFrame with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', None],
    'Score': [85, None, 78, 92]
}
df = pd.DataFrame(data)
# Check for missing values
print(df.isna())
# Fill missing values
df['Score'] = df['Score'].fillna(df['Score'].mean())
df['Name'] = df['Name'].fillna('Unknown')
# Drop rows with missing values
df_dropped = df.dropna()

    Name  Score
0  False  False
1  False   True
2  False  False
3   True  False

In [15]:
print(df.info())  # Data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  1000 non-null   object
 1   First_Name                  1000 non-null   object
 2   Last_Name                   1000 non-null   object
 3   Email                       1000 non-null   object
 4   Gender                      1000 non-null   object
 5   Age                         1000 non-null   float64
 6   Department                  1000 non-null   object
 7   Attendance (%)              1000 non-null   float64
 8   Midterm_Score               1000 non-null   float64
 9   Final_Score                 1000 non-null   float64
 10  Assignments_Avg             1000 non-null   float64
 11  Quizzes_Avg                 1000 non-null   float64
 12  Participation_Score         1000 non-null   float64
 13  Projects_Score              1000 non-null   float64
 14  Total_Score                 1000 non-null   float64
 15  Grade                       1000 non-null   object
 16  Study_Hours_per_Week        1000 non-null   float64
 17  Extracurricular_Activities  1000 non-null   object
 18  Internet_Access_at_Home     1000 non-null   object
 19  Parent_Education_Level      840 non-null    object
 20  Family_Income_Level         1000 non-null   object
 21  Stress_Level (1-10)         1000 non-null   float64
 22  Sleep_Hours_per_Night       1000 non-null   float64
dtypes: float64(12), object(11)
memory usage: 179.8+ KB
None

In [17]:
print(df.describe())  # Summary statistics

               Age  Attendance (%)  Midterm_Score  Final_Score  \
count  1000.000000     1000.000000    1000.000000  1000.000000
mean     21.066634       68.061064      71.043648    69.296683
std       2.311069       27.809824      17.350306    17.953780
min      16.206210        0.000000      36.833650    36.745235
25%      19.316787       59.161689      56.760185    54.255031
50%      20.993244       73.283685      71.263025    69.131524
75%      22.718634       87.093181      85.061684    83.092263
max      26.380494      108.730516     108.914349   108.508363

       Assignments_Avg  Quizzes_Avg  Participation_Score  Projects_Score  \
count      1000.000000  1000.000000          1000.000000     1000.000000
mean         66.806472    75.394758             4.988787       75.023214
std          26.825467    15.143672             2.882270       14.993117
min           0.000000    46.120694             0.009666       46.580692
25%          56.898954    63.117339             2.529348       62.557398
50%          71.459769    74.687763             4.995392       74.906849
75%          85.610370    87.971794             7.430412       86.938850
max         108.790146   107.377201            10.850055      109.193763

       Total_Score  Study_Hours_per_Week  Stress_Level (1-10)  \
count  1000.000000           1000.000000          1000.000000
mean     74.558647             17.310851             5.514646
std      15.212380              7.353841             2.871097
min      45.577987              4.546314             0.900460
25%      61.366935             11.118616             3.045848
50%      74.218609             17.088207             5.428400
75%      86.732900             23.473013             8.123593
max     109.287613             31.911465            10.929739

       Sleep_Hours_per_Night
count            1000.000000
mean                6.491693
std                 1.500479
min                 3.736038
25%                 5.296159
50%                 6.377495
75%                 7.722043
max                 9.810636

In [23]:
age = df['Age']
print(age)

0      22.045035
1      23.629150
2      22.506026
3      21.467511
4      22.919975
         ...
995    23.814906
996    21.557628
997    21.631017
998    19.420526
999    24.328379
Name: Age, Length: 1000, dtype: float64

In [27]:
sorted_df = df.sort_values('Age', ascending=False)

In [29]:
print(sorted_df)

    Student_ID First_Name Last_Name                       Email  Gender  \
122      S4817       Liam     Jones  student3817@university.com    Male
129      S2339       Emma     Jones  student1339@university.com    Male
245      S1546      Ahmed     Smith   student546@university.com  Female
616      S4577       Omar     Smith  student3577@university.com  Female
519      S3119       Liam     Jones  student2119@university.com    Male
..         ...        ...       ...                         ...     ...
161      S3552        Ali     Smith  student2552@university.com    Male
559      S1252      Maria     Jones   student252@university.com  Female
557      S4434       Liam     Davis  student3434@university.com    Male
807      S4498       Sara     Smith  student3498@university.com  Female
818      S3172      Ahmed     Jones  student2172@university.com  Female

           Age   Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
122  26.380494           CS       82.020231      75.468610    45.144231  ...
129  26.358673  Mathematics       55.476705      87.754873    87.523627  ...
245  26.311049           CS        0.000000      56.358866    54.575278  ...
616  26.309751     Business       56.093729      90.736952    77.143111  ...
519  26.236920  Engineering       88.287531      90.017650   103.764806  ...
..         ...          ...             ...            ...          ...  ...
161  16.310188  Engineering       61.431259      80.895412    76.558756  ...
559  16.276539  Engineering       48.997366      63.614639    82.034875  ...
557  16.246757           CS      100.835570      47.385807    65.602037  ...
807  16.244765           CS       80.449510      70.416962    75.220428  ...
818  16.206210  Engineering       75.519881      66.081997    73.052000  ...

     Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
122       76.556261    81.630920      B             28.172382
129       90.253218    89.680012      D              4.546314
245       77.861564    82.764253      B             19.210393
616       57.664108    57.163173      D             19.680752
519       57.960475    64.148727      B             12.702363
..              ...          ...    ...                   ...
161      101.745136    77.562634      C              8.551208
559       49.252026    73.814307      C             19.533244
557       63.768174    67.098722      A              6.996374
807       91.167405    61.684749      A              8.152021
818       93.506002    92.096525      F             27.505990

     Extracurricular_Activities Internet_Access_at_Home  \
122                          No                     Yes
129                          No                     Yes
245                          No                      No
616                          No                     Yes
519                          No                      No
..                          ...                     ...
161                          No                     Yes
559                          No                     Yes
557                         Yes                      No
807                         Yes                     Yes
818                          No                     Yes

     Parent_Education_Level Family_Income_Level Stress_Level (1-10)  \
122              Bachelor's                 Low            9.754979
129                     PhD              Medium            4.283441
245                       0                High            1.019574
616                Master's                High            3.185278
519                     PhD                High            3.766087
..                      ...                 ...                 ...
161              Bachelor's              Medium            6.070652
559              Bachelor's              Medium            6.864665
557              Bachelor's              Medium            2.915722
807              Bachelor's              Medium            2.804927
818                     PhD                 Low            2.775958

    Sleep_Hours_per_Night
122              5.754510
129              4.532435
245              6.763283
616              7.021440
519              4.612329
..                    ...
161              9.395292
559              5.575776
557              5.040644
807              8.268832
818              7.904457

[1000 rows x 23 columns]